@charset "utf-8";



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*フォント種類*/
	font-size: 16px;
	/*文字サイズ*/
	line-height: 2;
	/*行間*/
	background: #fff;
	/*背景色*/
	-webkit-text-size-adjust: none;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: normal;
	color: rgb(10, 1, 1);
	font-family: '源ノ角ゴシック', '游ゴシック', sans-serif;
}

h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
form {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: normal;

	color: white;
	font-family: '源ノ角ゴシック', '游ゴシック', sans-serif;
}

ul {
	list-style-type: none;
}

ol {
	padding-left: 40px;
	padding-bottom: 15px;
}




/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #f3f1f1;
	/*リンクテキストの色*/
	transition: 0.5s;
	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}

a:hover {
	color: #7d12a0;
	/*マウスオン時の文字色*/
	text-decoration: none;
	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}



/*トップページ以外のcontentsの追加設定*/
header+#menubar-s+.contents {
	padding-top: 120px;
	/*ヘッダーの高さを変えた場合はここを調整*/
}

/*コンテンツのh2タグの設定*/
.contents h2 {
	clear: both;
	margin-bottom: 20px;
	font-size: 20px;
	/*文字サイズ*/
	background: #7d12a0;
	/*背景色*/
	border-radius: 30px;
	/*角丸のサイズ*/
	color: #fff;
	/*文字色*/
	padding: 5px 20px;
	/*上下、左右への余白*/
}

/*コンテンツのh3タグの設定*/
.contents h3 {
	clear: both;
	margin-bottom: 20px;
	font-size: 20px;
	/*文字サイズ*/
	padding: 3px 20px;
	/*上下、左右への余白*/
	border: 2px solid #ccc;
	/*枠線の幅、線種、色*/
	border-radius: 30px;
	/*角丸のサイズ*/
}

/*コンテンツの段落タグ設定*/
.contents p {
	padding: 0px 20px 15px;
	/*上、左右、下への余白*/
}

.contents h2+p,
.contents h3+p {
	margin-top: -10px;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
.main {
	overflow: hidden;
	float: right;
	/*右に回り込み*/
	width: 72%;
	/*幅*/
	padding-bottom: 30px;
}





/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px) {

	/*ヘッダー（最上段のブロック）
---------------------------------------------------------------------------*/
	/*ロゴ画像（トップページ以外。トップページのロゴは上の#top headerのbackgroundで指定しています。）*/
	header #logo img {
		width: 200px;
		/*幅*/
		padding-top: 21px;
		/*上に空ける余白。ヘッダーブロックに対する上下バランスをここで調整して下さい。*/
	}

}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px) {

	/*inner共通
---------------------------------------------------------------------------*/
	.inner {
		width: auto;
	}

	/*メインメニュー（※トップページ以外）
---------------------------------------------------------------------------*/
	/*小さな端末用メニューを非表示から表示に切り替える*/
	#menubar-s {
		display: block;
		clear: both;
		position: fixed;
		z-index: 2;
		top: 80px;
		/*ヘッダーブロックの高さをここに設定する*/
		width: 100%;
		box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
		/*ボックスの影。右に、下に、広げる幅、0,0,0は黒の事で0.4は透明度40%の事。*/
	}

	/*メニュー１個あたりの設定*/
	#menubar-s li a {
		display: block;
		text-decoration: none;
		text-align: center;
		/*文字をセンタリング*/
		padding: 15px 0;
		/*上下、左右へのメニュー内の余白*/
		background: #fff;
		/*背景色*/
		border-bottom: 1px solid #ccc;
		/*下線の幅、線種、色*/
	}

	/*トップページ以外で使っている大きな端末用用メニューを非表示にする
---------------------------------------------------------------------------*/
	#menubar {
		display: none;
	}

	/*３本バーアイコン設定
---------------------------------------------------------------------------*/
	/*３本バーブロック*/
	#menubar_hdr {
		display: block;
		position: fixed;
		z-index: 2;
		top: 14px;
		/*上から14pxの場所に配置*/
		right: 3%;
		/*右から3%の場所に配置*/
		width: 30px;
		/*幅*/
		border: 1px solid #fff;
		/*枠線の幅、線種、色*/
		padding: 12px 10px 5px;
		/*上、左右、下へのボックス内余白*/
	}

	/*３本のバー（1本あたり）*/
	#menubar_hdr span {
		display: block;
		border-top: 3px solid #fff;
		/*枠線の幅、線種、色*/
		margin-bottom: 7px;
		/*バー同士の余白*/
	}

	#top #menubar_hdr {
		display: none;
	}

	/*main,subコンテンツ
---------------------------------------------------------------------------*/
	.main,
	.sub {
		float: none;
		width: auto;
	}

	/*Serviceページの各ブロック
---------------------------------------------------------------------------*/
	/*ボックス内の画像*/
	.list figure img {
		width: 20%;
		/*幅*/
	}

	/*subコンテンツ内のメニュー
---------------------------------------------------------------------------*/
	/*メニュー１個ごとの設定*/
	.sub ul.submenu li {
		width: 50%;
		/*半分の幅にする*/
		float: left;
		/*左に回り込み*/
	}

	/*偶数番目のメニューの左のラインを消す設定*/
	.sub ul.submenu li:nth-child(even) a {
		border-left: none;
	}

	/*その他
---------------------------------------------------------------------------*/




	.sh {
		display: block;
	}


}



.logo-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	opacity: 0.8;
}

.graph-image {
	width: 80%;
	margin: 0 auto;
	justify-content: center;
}

.container {
	display: flex;
	/* 親要素をフレックスコンテナにする */
	justify-content: center;
	/* 横方向の中央揃え */
	align-items: center;
	/* 縦方向の中央揃え */
	height: 100vh;
	/* 画面の高さを100%にする（任意） */
}

.container h1 {
	font-size: 3rem;
	/* フォントサイズを3remに設定 */
}

.container p {
	font-size: 1rem;
	/* フォントサイズを3remに設定 */
}

.map-image2 {
	background-color: purple;
}

#video-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	/* 他の要素よりも下に表示 */
}
