<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='image.css') }}">
    

</head>
<body>
<div class="video-container">
  <video autoplay muted loop id="myVideo" style="width: 100%; height: 100%;" class="video video1">
    <source src="{{url_for('static',filename='video.mp4')}}" type="video/mp4">
  </video>


  <div class="logo-wrapper">
    <a href="{{ url_for('top') }}">
    <img src="{{ url_for('static', filename='logo.png') }}" >
</a>

  </div>

</div>
<div class="video-container">
          <video autoplay muted loop id="myVideo2" style="width: 100%; height: 100%;" class="video video2">
            <source src="{{ url_for('static', filename='video2.mp4') }}" type="video/mp4">
        </video>
                <div class="overlay text1">
            <!-- <h2>Explanatory Text</h2><br> -->
            <p>本システムでは、AIの中でも特に高い精度を誇るサポートベクターマシン（SVM）アルゴリズムを用いて、各市町村の将来的な経済指標を予測します。予測対象となる指標は、製造業の生産活動を示す製造業出荷額と付加価値額、地域住民の構成を示す人口動態、消費活動を反映する小売販売額、そして地域経済の活況度を示す不動産取引額です。

これらの経済指標を時系列データとして入力し、SVMモデルに学習させることで、将来の値を予測します。予測結果は、直感的に理解できるグラフで可視化することで、各市町村の経済状況を容易に把握することができます。</p><br>

</div>
</div>
<div class="video-container">
          <video autoplay muted loop id="myVideo3" style="width: 100%; height: 100%;" class="video video3">
            <source src="{{ url_for('static', filename='video3.mp4') }}" type="video/mp4">
        </video>
                <div class="overlay text2">
            <h2>Explanatory Text</h2>
            <p>This is an example of explanatory text that can be placed on top of the video.</p>
            <ul>
                <li><a href="/syukka">Link 1</a></li>
                <li><a href="link2.html">Link 2</a></li>
                <li><a href="link3.html">Link 3</a></li>
            </ul>
</div>
</div>
</body>
</html>
