<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Graph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="js/openclose.js"></script>
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class>
    <video autoplay muted loop id="video-background">
        <source src="{{ url_for('static', filename='video5.mp4') }}" type="video/mp4">
    </video>


    <!--小さな端末用（800px以下端末）メニュー-->


    <div class="contents">
        <div class="inner ">

            

                <body>
                    <h1 style="text-align: center;">{{prefName}}{{cityName}}{{Title}}</h1>
                    <img class="graph-image" src="data:image/png;base64,{{ image_data }}"><br><br>
                    <!-- <p>{{Citywiki}}</p> -->
                    <h1 style="text-align: center;">{{prefName}}の位置</h1>
                    <img class="map-image" src="data:image/png;base64,{{ map }}" width="400" height="300">
                    <h1>{{Citywiki}}</h1>
                 <p><a href="{{ url_for('top') }}">back to main</a></p>

            </body>

</html>
